<!-- Below is the quickiest and dirtiest of bug fixes. This JS should only run on this page. -->
<!-- Hide sticky nav bar when it is above the hero image. -->
<script type="text/javascript">

  $(document).on('ready', function() {

      hideNav();

      $(document).on('scroll', function () {

        var docScroll = $(document).scrollTop();
        // This is something we might want for mobile later in the below if statement: & $('html').height() > 768 -- ie. no sticky header for short screens
        if (docScroll >= 325) {

          showNav();

        } else if ((docScroll < 20)) {

          hideNav();
        }

      });

  });

  showNav = function(){
    $('.img-logo').removeClass('nodisplay');
    $('nav').removeClass('nodisplay');
    $('.navigation').addClass('nav-bg');
  }

  hideNav = function(){
    $('.img-logo').addClass('nodisplay');
    $('nav').addClass('nodisplay');
    $('.navigation').removeClass('nav-bg');
  }

</script>


  <%= render 'refills/hero' %>

  <%= render 'refills/flex_boxes' %>


  <div class="text-wrapper">

  <hr/>
  <h2 class="transition">Most Popular Facts</h2>

  <div class="home-page-fact-boxes">
    <%= render @popular_facts %>
    <!-- This should be a dynamic/rails generated link -->
    <p><a href="/facts?sort=popular">(view all)</a></p>
  </div>

  <hr/>
  <h2 class="transition">Political Facts</h2>

  <div class="home-page-fact-boxes">
    <%= render @political_facts %>
    <p><a href="/facts?category=political">(view all)</a></p>
  </div>

  <hr/>
  <h2 class="transition">Newest Facts</h2>

  <div class="home-page-fact-boxes">
    <%= render @new_facts %>
    <p><a href="/facts?sort=new">(view all)</a></p>
  </div>

</div>
