<div class="<%= support ? 'supporting' : 'refuting' %>">
  <div class="evidence-title-box">
    <h3 class="evidence-header-text"><%= support ? 'Supporting' : 'Refuting' %> Evidence (<%= support ? @fact.supporting_evidence.count : @fact.refuting_evidence.count %>)<a href="#add-<%= support ? 'supporting' : 'refuting' %>" class="add-evidence-anchor">+ add evidence</a></h3>
  </div>
  <ul class="evidence-list">

    <% (support ? @fact.supporting_evidence : @fact.refuting_evidence).each do |evidence| %>
      <li class="piece-of-evidence">

        <div id="vote-box-<%= evidence.id %>" class="vote-box">
          <%= render 'vote_buttons', evidence: evidence %>
        </div>
        <div class="show-evidence">

          <h4 class="evidence-title">
            <%= link_to ( evidence.title || truncate(evidence.url, length: 50) ), evidence.url, target: '_blank' %>
          </h4>

          <div class="tooltip-item source-tooltip">
            <%= "Source domain: #{evidence.source ? evidence.source.domain : 'n/a'}" %>
            <div class="tooltip">
              <p>
                Upvotes for this domain are worth <%= evidence.source ? evidence.source.wot_factor.to_f.round(2) : 1.0 %> of a vote. <br>
                Downvotes for this domain are worth <%= evidence.source ? evidence.source.reverse_wot_factor.to_f.round(2) : 1.0 %> of a vote. <br>
                <%= link_to 'Why?', about_path + '#weight' %>
              </p>
            </div>
          </div>


          <p class="evidence-description"><%= evidence.description || 'No site description found.' %></p>

          <p class="evidence-posting">Added by <%= link_to truncate(evidence.user.display_name, length: 8), evidence.user %> on <%= evidence.created_at.strftime("%b %-d, %Y") %></p>

        </div>

    </li>
  <% end %>

  </ul>
</div>
