<div class="<%= support ? 'supporting' : 'refuting' %>">
  <div class="evidence-title-box-<%= support ? 'supporting' : 'refuting' %>">
    <h3 class="evidence-header-text"><%= support ? 'Supporting' : 'Refuting' %> Evidence (<%= support ? @fact.supporting_evidence.count : @fact.refuting_evidence.count %>)<a href="#add-<%= support ? 'supporting' : 'refuting' %>" class="add-evidence-anchor">+ add evidence</a></h3>
  </div>
  <ul class="evidence-list">
    <% (support ? @fact.supporting_evidence : @fact.refuting_evidence).each do |evidence| %>
      <li class="piece-of-evidence">

        <div id="vote-box-<%= evidence.id %>" class="vote-box">
          <%= render 'vote_buttons', evidence: evidence %>
        </div>
        <div class="show-evidence">
          <% if evidence.title != nil && evidence.description != nil %>
            <a href="<%= evidence.url %>"><h4 class="evidence-title"><%= evidence.title %></h4></a>
            <p class="evidence-description"><%= evidence.description %></p>
          <% else %>
            <%= "<h4 class='evidence-title'><a href='#{evidence.url}' target='_blank'>#{truncate(evidence.url, length: 50)}</a></h4>".html_safe %>
            <p class="evidence-description">No site description found.</p>
          <% end %>
          <p class="evidence-posting">Added by <%= link_to evidence.user.display_name, evidence.user %> on <%= evidence.created_at.strftime("%B %-d, %Y") %></p>
        </div>

    </li>
  <% end %>
  </ul>
</div>
