<span id="add-<%= support ? 'supporting' : 'refuting' %>"></span>
<div class="add-evidence-box" <%= support ? '' : 'id=refuting-box' %>>
  <p>Join the debate! Add your own evidence to <%= support ? 'support' : 'refute' %> this fact.</p>
  <%= form_for [@fact, @evidence] do |f| %>
    <div class="evidence-url-form-group">
      <%= f.label "URL:", :class => 'evidence-label' %>
      <%= f.url_field :url, :class => 'evidence-field' %>
    </div>

    <%= f.hidden_field :support, value: support %>

    <div class="evidence-submit">
      <% if support %>

        <%= f.submit "Create Supporting Evidence",
                     :class => "evidence-supporting-button #{requires_login}" %>
      <% else %>

        <%= f.submit "Create Refuting Evidence",
                     :class => "evidence-refuting-button #{requires_login}" %>
      <% end %>


    </div>
  <% end %>
</div>
