<div class="fact-boxes">
  <%= react_component('FactLink', {url: "#{fact_path(:id => fact.id, :format => :json )}", pollInterval: 5000, link: fact_path(fact), title: truncate(fact.body, length: 80), truthiness: fact.score, popularity: fact.total_votes, category: fact.category.name}) %>
  <div class="fact-box-favorite"><span class="fact-box-star" id="favorite-<%= fact.id %>"><%= favorite_button(fact) %></span> <p>Posted by <%= link_to truncate(fact.user.display_name, length: 10), fact.user %> on <%= fact.created_at.strftime("%B %-d, %Y") %></p></div>
</div>
