<div class="fact-boxes">
  <a href="<%= fact_path(fact) %>" class="fact-box">
    <p class="fact-name"><span class="fact-heading">FACT:</span> <%= truncate(fact.body, length: 120) %></p>
  </a>
  <div class="fact-box-favorite"><%= favorite_button(fact) %> Posted by <%= link_to fact.user.display_name, fact.user %> on <%= fact.created_at.strftime("%B %-d, %Y") %> </div>
</div>
