<%= form_for @fact do |f| %>
    <div class="field">
      <%= f.label :body %><br/>
      <%= f.text_area :body, autofocus: true %>
    </div>

    <div id="evidences">
      <%= f.fields_for :evidences do |evidence_fields| %>
        <%= render 'evidence_fields', f: evidence_fields %>
      <% end %>

      <div class="links">
        <%= link_to_add_association "Add Evidence", f, :evidences %>
      </div>
    </div>

    <div>
      <%= f.submit %>
    </div>
<% end %>
