<div class="sort-nav">

  <div class="trigger-buttons">
    <a href="#" id="category-dropdown-trigger" class="index-dropdown-trigger">Select category</a>
    <a href="#" id="sort-dropdown-trigger" class="index-dropdown-trigger">Sort by...</a>
  </div>

  <%= render 'refills/categories_filter_buttons' %>

  <%= render 'refills/sort_filter_buttons' %>

  <%= render 'facts/facts_index_search' %>

</div>

<div class="details-reset">
  <div class="query-details">
    <%= query_details %>
  </div>
  <p><%= link_to '&times;'.html_safe + 'Clear search', facts_path + '?category=all&sort=popular', remote: true , id: 'reset'%></p>
</div>

<div class="facts-container">
  <%= image_tag 'ajax-loader.gif', id: 'spinner' %>
  <ul id="facts-list" class="fact-box-wrapper">
    <%= render @facts %>
  </ul>

  <div id="index-pagination">
    <%= paginate @facts %>
  </div>
</div>
