<%= render 'refills/categories_filter_buttons' %>

<%= render 'refills/sort_filter_buttons' %>

<%= render 'facts/facts_index_search' %>

<div class="query-details">
  <%= query_details %>
</div>
<%= link_to 'Click to reset', facts_path, remote: true %>

<div class="facts-container">
  <ul id="facts-list" class="fact-box-wrapper">
    <%= render @facts %>
  </ul>

  <div id="index-pagination">
    <%= paginate @facts %>
  </div>
</div>
