
  <h1>Browse facts</h1>

  <%= "Showing results for \"#{params[:query]}\"" if params[:query] %>

  <h2>Categories:</h2>
  <div>
    <ul class="category-list">
      <li>
        <%= link_to 'All',
            facts_path,
            id: 'category-all',
            class: ('is-selected' unless params[:category]),
            remote: true %>
      </li>
      <li>
        <%= link_to 'My Favorites',
            facts_path + '?category=Favorites',
            id: 'category-Favorites',
            class: ('is-selected' if params[:category] && params[:category].downcase == 'favorites'),
            remote: true %>
      </li>
      <% @categories.all.each do |category| %>
        <li>
          <%= link_to category.name,
                facts_path + "?category=#{category.name}",
                id: "category-#{category.name}",
                class: ('is-selected' if params[:category] && params[:category].downcase == category.name.downcase),
                remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
<br>
  <div>
    <h2>Sort by:</h2>
    <ul class="sort-list">
      <li>
        <%= link_to 'Popular',
            facts_path + "?sort=popular",
            id: "sort-popular",
            class: ('is-selected' if params[:sort] && params[:sort].downcase == 'popular'),
            remote: true %>
      </li>
      <li>
        <%= link_to 'Debated',
            facts_path + "?sort=debated",
            id: "sort-debated",
            class: ('is-selected' if params[:sort] && params[:sort].downcase == 'debated'),
            remote: true %>
      </li>
      <li>
        <%= link_to 'New',
            facts_path + "?sort=new",
            id: "sort-new",
            class: ('is-selected' if params[:sort] && params[:sort].downcase == 'new'),
            remote: true %>
      </li>
      <li>
        <%= link_to 'Bullshit',
            facts_path + "?sort=bullshit",
            id: "sort-bullshit",
            class: ('is-selected' if params[:sort] && params[:sort].downcase == 'bullshit'),
            remote: true %>
      </li>
      <li>
        <%= link_to 'Truth',
            facts_path + "?sort=truth",
            id: "sort-truth",
            class: ('is-selected' if params[:sort] && params[:sort].downcase == 'truth'),
            remote: true %>
      </li>
    </ul>
  </div>

  <br><br>

  <div class="facts-container">
    <div class="fact-box-wrapper">
      <div class="fact-boxes">
        <a href="javascript:void(0)" class="fact-box">
          <h1 class="fact-title"></i> Share Dynamic Images</h1>
          <p>Our dynamically generated fact infographics will change based on community feedback! Watch the state of your facts evolve.</p>
        </a>
        <a href="javascript:void(0)" class="fact-box">
          <h1 class="fact-title"></i> Evidence Based Ranking</h1>
          <p>Facts are rated based on the strength of evidence attached to them. Agree or disagree? Submit your own evidence!</p>
        </a>
        <a href="javascript:void(0)" class="fact-box">
          <h1 class="fact-title"></i> Learn Truthometer Etiquette</h1>
          <p>Our mission statement and philosophy. A set of guidelines to ensure that your truthometer experience gets a high rating.</p>
        </a>
      </div>
    </div>

    <ul id="facts-list">
      <% @facts.each do |fact| %>
        <%= render fact %>
      <% end %>
    </ul>
  </div>
