<div class="text-wrapper">
  <h1>Browse facts</h1>

  <%= "Showing results for \"#{params[:query]}\"" if params[:query] %>

  <h2>Categories:</h2>
  <div>
    <ul>
      <li>
        <%= link_to 'All',
            facts_path,
            id: 'category-all',
            class: ('is-selected' unless params[:category]),
            remote: true %>
      </li>
      <li>
        <%= link_to 'My Favorites',
            facts_path + '?category=Favorites',
            id: 'category-Favorites',
            class: ('is-selected' if params[:category] && params[:category].downcase == 'favorites'),
            remote: true %>
      </li>
      <% @categories.all.each do |category| %>
        <li>
          <%= link_to category.name,
                facts_path + "?category=#{category.name}",
                id: "category-#{category.name}",
                class: ('is-selected' if params[:category] && params[:category].downcase == category.name.downcase),
                remote: true %>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Sort by:</h2>
    <ul>
      <li>
        <%= link_to 'Popular',
            facts_path + "?sort=popular",
            id: "sort-popular",
            class: ('is-selected' if params[:sort] && params[:sort].downcase == 'popular'),
            remote: true %>
      </li>
    </ul>
  </div>

  <br><br>

  <div class="facts-container">
    <ul id="facts-list">
      <% @facts.each do |fact| %>
        <%= render fact %>
      <% end %>
    </ul>
  </div>
</div>
