<h1>Facts#show</h1>

<div>
  <p>
    <strong><%= User.find(@fact.user_id).display_name %></strong> posted this fact!
  </p>

  <p>
    <%= @fact.body %>
  </p>
</div>

<div>
  <h2><%= pluralize @fact.supporting_evidence.count, 'piece' %> of supporting evidence:</h2>
  <ul>
    <% @fact.supporting_evidence.each do |evidence| %>
      <li>
        <h4><%= evidence.url%></h4>
        <p>Posted by <%= evidence.user.display_name %></p>
        <p><%= link_to "#{pluralize evidence.upvotes, 'upvote'}",
                        upvote_path(evidence.id),
                        method: :post,
                        remote: true,
                        id: "upvote_#{evidence.id}" %>
            | <%= link_to "#{pluralize evidence.downvotes, 'downvote'}", downvote_path(evidence.id) %></p>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h2><%= pluralize @fact.refuting_evidence.count, 'piece' %> of refuting evidence:</h2>
  <ul>
    <% @fact.refuting_evidence.each do |evidence| %>
      <li>
        <h4><%= evidence.url%></h4>
        <p>Posted by <%= evidence.user.display_name %></p>
        <p><%= link_to "#{pluralize evidence.upvotes, 'upvote'}", upvote_path(evidence.id), remote: true, method:
            :post %>
          | <%= link_to "#{pluralize evidence.downvotes, 'downvote'}", downvote_path(evidence.id) %></p>
      </li>
    <% end %>
  </ul>
</div>

<% if current_user == User.find(@fact.user_id)  %>
  <%= link_to "Delete Fact", fact_path(@fact), method: :delete, date: {confirm:"Are you sure you want to delete this
  fact?"} %>
<% end  %>
