  <div class="fact-header">
    <div id="speedo">
      <span class="speedometer"></span>
      <span class="needle"></span>
      <span id="score" class="truth-score odometer">00</span>
      <span id="actual-score" style="display:none"><%= @fact.score %></span>
    </div>

    <span class="fact-show">
        <%= @fact.body %>
    </span>
  </div>

  <div class="fact-favorite-text">
    <div id="favorite-<%= @fact.id %>">
      <%= favorite_button(@fact) %>
    </div>
    <span>Fact posted by <%= link_to @fact.user.display_name, @fact.user %> on <%= @fact.created_at.strftime("%B %-d, %Y") %> | Category: <%= @fact.category.name %></span>
  </div>

  <div class="evidence">
    <div class="supporting">
      <div class="evidence-title-box-supporting">
        <h3 class="evidence-header-text">Supporting Evidence (<%= @fact.supporting_evidence.count %>)<a href="#add-supporting" class="add-evidence-anchor">+ add evidence</a></h3>
      </div>
      <ul class="evidence-list">
        <% @fact.supporting_evidence.each do |evidence| %>
          <li class="piece-of-evidence">

            <div id="vote-box-<%= evidence.id %>" class="vote-box">
              <%= render 'vote_buttons', evidence: evidence %>
            </div>
            <div class="show-evidence">
              <h4 class="evidence-url"><a href="<%= evidence.url %>"><%= truncate(evidence.url, length: 50)%></a></h4>
              <h4><%= evidence.title %></h4>
              <p><%= evidence.description %></p>
              <p class="evidence-posting">Added by <%= link_to evidence.user.display_name, evidence.user %> on <%= evidence.created_at.strftime("%B %-d, %Y") %></p>
            </div>

        </li>
      <% end %>
      </ul>
    </div>

    <div class="refuting">
      <div class="evidence-title-box-refuting">
        <h3 class="evidence-header-text">Refuting Evidence (<%= @fact.refuting_evidence.count %>)<a href="#add-refuting" class="add-evidence-anchor">+ add evidence</a></h3>
      </div>
      <ul class="evidence-list">
        <% @fact.refuting_evidence.each do |evidence| %>
          <li class="piece-of-evidence">
            <div id="vote-box-<%= evidence.id %>" class="vote-box">
              <%= render 'vote_buttons', evidence: evidence %>
            </div>

            <div class="show-evidence">
              <h4 class="evidence-url"><a href="<%= evidence.url %>"><%= truncate(evidence.url, length: 50) %></a></h4>
              <h4><%= evidence.title %></h4>
              <p><%= evidence.description %></p>
              <p class="evidence-posting">Added by <%= link_to evidence.user.display_name, evidence.user %> on <%= evidence.created_at.strftime("%B %-d, %Y") %></p>
            </div>

        </li>
      <% end %>
      </ul>

    </div>
  </div>

  <div id="add-supporting" class="add-evidence-box">
    <p>Join the debate! Add your own evidence to support this fact.</p>
    <%= form_for [@fact, @evidence] do |f| %>
      <div class="evidence-url-form-group">
        <%= f.label "URL:", :class => 'evidence-label' %>
        <%= f.url_field :url, :class => 'evidence-field' %>
      </div>

      <%= f.hidden_field :support, value: true %>

      <div class="evidence-submit">
        <%= f.submit 'Create Supporting Evidence', :class => 'evidence-supporting-button' %>
      </div>
    <% end %>
  </div>

  <div id="add-refuting" class="add-evidence-box">
    <p>Join the debate! Add your own evidence to refute this fact.</p>
    <%= form_for [@fact, @evidence] do |f| %>
      <div class="evidence-url-form-group">
        <%= f.label "URL:", :class => 'evidence-label' %>
        <%= f.url_field :url, :class => 'evidence-field' %>
      </div>

      <%= f.hidden_field :support, value: false %>

      <div class="evidence-submit">
        <%= f.submit 'Create Refuting Evidence', :class => 'evidence-refuting-button'%>
      </div>
    <% end %>
  </div>


  <% if current_user == User.find(@fact.user_id) && @fact.total_votes == 0 %>
    <div class="delete-fact-box">
      <%= link_to "Delete This Fact",
          fact_path(@fact),
          method: :delete,
          data: { confirm:"Are you sure you want to delete this fact?" },
          class: 'delete-fact-link' %><span> (WARNING: permanently deletes this fact)</span>
    </div>
  <% end  %>


  <div class="permalink">
    <div class="permalink-left">
      <h2>Share this Fact</h2>
      <p>Continue the conversation! Share a link to our dynamically generated image that will automatically update its content when new evidence is created and more people vote. Think of it as a user-driven infographic.</p>
      <!-- Clipboard Target -->
      <div class="input-group">
        <input id="copy-fact-image" value="<%= "#{root_url}public/imagemagick/fact_photos/#{@fact.id}.png" %>">
        <!-- Clipboard Trigger -->
        <label class="input-group-label" for="copy-fact-image-button">Image URL:</label>
        <span class="input-group-button">
          <button id="copy-fact-image-button" class="clippy-btn" data-clipboard-target="#copy-fact-image">
              <%= image_tag "clippy.svg", alt: "Copy to clipboard", class: "clippy", width: 13 %>
          </button>
        </span>
      </div>
    </div>
    <div id="fact-image">
      <%= image_tag "/public/imagemagick/fact_photos/#{@fact.id}.png", width: 224, height: 168 %>
    </div>
  </div>

  <a href="https://muut.com/i/truthometer/comments" class="muut" type="dynamic">Comments</a>
  <script src="//cdn.muut.com/1/moot.min.js"></script>

  <!-- TODO: Figure out how to not have this style tag in the view...-->
  <style>
  @-webkit-keyframes move {
      0% {
          transform:rotate(-130deg);
      }

      100% {
          transform:rotate(<%= -130 + ((@fact.score/100.0) * 260) %>deg);
      }
  }</style>

  <script>
    // Call clipboard.js on buttons
    (function(){
      new Clipboard('#copy-fact-image-button');
    })();
  </script>
