<div>
  <p>
    <strong><%= User.find(@fact.user_id).display_name %></strong> posted this fact!
  </p>

  <p>
    <%= @fact.body %> - Truthiness score: <h1><%= @fact.score %></h1>
  </p>
</div>

<div class="supporting-evidence">
  <h2><%= pluralize @fact.supporting_evidence.count, 'piece' %> of supporting evidence:</h2>
  <ul>
    <% @fact.supporting_evidence.each do |evidence| %>
      <li>
        <h4><%= evidence.url%></h4>
        <p>Posted by <%= evidence.user.display_name %></p>
        <p>
          <!--NOTE: Refactor using helpers-->
          <%= link_to "#{pluralize evidence.upvotes, 'upvote'}",
                      votes_path(vote: {evidence_id: evidence.id, upvote: true}),
                      method: :post,
                      remote: current_user != nil,
                      id: "upvote_#{evidence.id}" %>

        | <%= link_to "#{pluralize evidence.downvotes, 'downvote'}",
                      votes_path(vote: {evidence_id: evidence.id, upvote: false}),
                      method: :post,
                      remote: current_user != nil,
                      id: "downvote_#{evidence.id}" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<div class="refuting-evidence">
  <h2><%= pluralize @fact.refuting_evidence.count, 'piece' %> of refuting evidence:</h2>
  <ul>
    <% @fact.refuting_evidence.each do |evidence| %>
      <li>
        <h4><%= evidence.url%></h4>
        <p>Posted by <%= evidence.user.display_name %></p>

        <p>
          <!--NOTE: Refactor using helpers-->
          <%= link_to "#{pluralize evidence.upvotes, 'upvote'}",
                      votes_path(vote: {evidence_id: evidence.id, upvote: true}),
                      method: :post,
                      remote: current_user != nil,
                      id: "upvote_#{evidence.id}" %>

        | <%= link_to "#{pluralize evidence.downvotes, 'downvote'}",
                      votes_path(vote: {evidence_id: evidence.id, upvote: false}),
                      method: :post,
                      remote: current_user != nil,
                      id: "downvote_#{evidence.id}" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<div class="evidence-form">
  <%= form_for [@fact, @evidence] do |f| %>
    <div>
      <%= f.label :url %>
      <%= f.url_field :url %>
    </div>

    <div >
      <%= f.label :support, "Supporting" %>
      <%= f.radio_button :support, true, value: true, checked: false %>
      <%= f.label :support, "Refuting" %>
      <%= f.radio_button :support, false, value: false, checked: false %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>

<% if current_user == User.find(@fact.user_id)  %>
  <%= link_to "Delete Fact", fact_path(@fact), method: :delete, date: {confirm:"Are you sure you want to delete this
  fact?"} %>
<% end  %>
