<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag("logo-placeholder.png", alt: 'Truthometer') %></a>
		<div class="hero-copy">
			<h1>Promoting civil discourse and debate online</h1>
      <div class="home-search-bar">
  			<%= render 'refills/search_bar' %>
      </div>
      <div class="home-page-or"><p>OR</p></div>
      <div class="home-add-facts">
        <h3 class="home-subheader">Add your own fact</h3>
        <p class="secondary-content">Want to share something you know to be true? Post it here and begin a public  debate validated by evidence submitted and voted on by the wider community.</p>
        <%= button_to "Add Fact", new_fact_path, method: :get %>
      </div>
      <div class="home-browse-facts">
        <h3 class="home-subheader">Browse all facts</h3>
        <p class="secondary-content">View facts on topics that are most interesting to you, searchable in many different categories. Submit or vote on evidence that supports or refutes your favorite facts.</p>
        <%= button_to "Browse Facts", facts_path, method: :get %>
      </div>

      <a href="<%= about_path %>" class="hero-footer">
        <!-- <span class="hero-about-button">ABOUT:</span> -->
        <p class="secondary-content">Find out more about Truthometer's mission statement, philosophy and site etiquette.</p>
      </a>
    </div>


	</div>
</div>
