<header class="navigation nav-bg" role="banner">
  <div class="navigation-wrapper">
    <a href="<%= root_path %>" class="logo">
      <%= image_tag("truthometer-logo-large-01.png", alt: 'Truthometer', class: 'img-logo') %>
      <%= image_tag("truthometer-icon-logo.png", alt: 'Truthometer', class: 'img-logo-mobile') %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
    <nav role="navigation">
      <div class="search-bar">
        <form role="search" action="/facts">
          <input name="query" type="search" id="search" placeholder="Search Facts" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>

      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout mobile-logout" )%>
        <div class="gravatar">
          <a href="<%= user_path(current_user) %>">
            <%= image_tag "http://www.gravatar.com/avatar/#{current_user.gravatar_hash}?d=identicon",
                id: "user-image-nav" %>
          </a>
        </div>
      <% else %>
        <label class="auth-modal-label" for="auth-modal">
          <div id="modal-trigger-mobile" class="modal-trigger login mobile-login">Log in / Sign up</div>
        </label>
      <% end %>

      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- cp is a helper method in application helper, returns class to highlight link if it is the currently active page -->
        <li class="nav-link <%= cp(facts_path) %>"><a href="<%= facts_path %>">Browse Facts</a></li>
        <li class="nav-link <%= cp(new_fact_path) %>"><a href="<%= new_fact_path %>"
                                class="<%= requires_login %>">Add New Fact</a></li>
        <li class="nav-link <%= cp(about_path) %>"><a href="<%= about_path %>">About</a></li>
        <li class="nav-link <%= cp(forum_path) %>"><a href="<%= forum_path %>">Forum</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <% if user_signed_in? %>
          <!--NOTE enter user_path when created -->
          <div id="welcome-message"><span>Welcome, <%= link_to truncate(current_user.display_name, length: 10), user_path(current_user) %></span>
            <a href="<%= user_path(current_user) %>"><%= image_tag "http://www.gravatar.com/avatar/#{current_user.gravatar_hash}?d=identicon",
                width: '34',
                height: '34',
                id: "user-image-nav"%></a>
          </div>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout" )%>
      <% else %>
        <label for="auth-modal">
          <div id="modal-trigger-screen" class="modal-trigger login">LOGIN / SIGNUP</div>
        </label>
      <% end %>
    </div>
  </div>
</header>
<%= render 'refills/modal_authenticate' %>
