<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="<%= root_path %>" class="logo">
      <%= image_tag("logo-placeholder.png", alt: 'Logo', class: 'img-logo') %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Find a Fact" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="<%= new_fact_path %>">Add New Fact</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">

      <% if user_signed_in? %>
          <!--NOTE enter user_path when created -->
          <span id="welcome-message">Welcome, <%= link_to current_user.display_name, '#' %></span>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "logout" )%>
      <% else %>
          <a href="<%= new_user_session_path %>" class="login">Login</a>
          <a href="<%= new_user_registration_path %>" class="sign-up">Sign Up</a>
      <% end %>

    </div>
  </div>
</header>


