<div class="filter-buttons">
  <h4>Sort by:</h4>
  <div class="button-group">
    <label>
      <%= button_to '', {}, {
          :method => 'get',
          :remote => true,
          :url => facts_path } %>
      <span id="sort-popular" class="button-group-item<%= ' is-selected' unless params[:sort] %>">Popular</span>
    </label>

    <label>
      <%= button_to 'debated', {}, {
          :method => 'get',
          :name => 'sort',
          :remote => true,
          :url => facts_path + "?sort=debated"} %>
      <span id="sort-debated" class="button-group-item<%= ' is-selected' if params[:sort] && params[:sort].downcase == 'debated' %>">Debated</span>
    </label>

    <label>
      <%= button_to 'new', {}, {
          :method => 'get',
          :name => 'sort',
          :remote => true,
          :url => facts_path + "?sort=new" } %>
      <span id="sort-new" class="button-group-item<%= ' is-selected' if params[:sort] && params[:sort].downcase == 'new' %>">New</span>
    </label>

    <label>
      <%= button_to 'bullshit', {}, {
          :method => 'get',
          :name => 'sort',
          :remote => true,
          :url => facts_path + "?sort=bullshit" } %>
      <span id="sort-bullshit" class="button-group-item<%= ' is-selected' if params[:sort] && params[:sort].downcase == 'bullshit' %>">Bullshit</span>
    </label>

    <label>
      <%= button_to 'truth', {}, {
          :method => 'get',
          :name => 'sort',
          :remote => true,
          :url => facts_path + "?sort=truth" } %>
      <span id="sort-truth" class="button-group-item<%= 'is-selected' if params[:sort] && params[:sort].downcase == 'truth' %>">Truth</span>
    </label>
  </div>
</div>
