<div class="stats-flex-box-wrapper">

  <div class="stats-flex-boxes">

    <div class="stats-flex-box users-facts">
      <h1 class="stats-flex-title">Average truthiness of submitted facts: <%= @user.facts.empty? ? 'N/A' : @user.facts.average(:score).round(2) %>%</h1>
      <h2 class="stats-flex-title">Total of <%= pluralize @user.facts.count, 'fact' %> posted</h2>
      <div>
        <h2 class="stats-flex-title">Recent facts posted:</h2>
        <ul>
          <% @user.facts.last(10).each do |fact| %>
            <li><strong><%= fact.score %>%&nbsp;</strong><%= link_to fact.body, fact %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="stats-flex-box users-evidence">
      <h1 class="stats-flex-title">Quality of evidence submitted: <%= @user.evidence_quality %>%</h1>
      <div>
        <h2 class="stats-flex-title">Recent evidence submitted:</h2>
        <ul>
          <% @user.evidences.last(10).each do |evidence| %>
            <li>
              <strong>
                <%= evidence.upvotes %> upvotes, <%= evidence.downvotes %> downvotes&nbsp;
              </strong>
              <p><%= evidence.url %></p>
              <p><%= evidence.support ? 'Supporting' : 'Refuting' %> evidence attached to: <%= link_to evidence.fact.body, evidence.fact %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="stats-flex-box users-votes">
      <h1 class="stats-flex-title">Total of <%= pluralize @user.votes.count, 'vote' %> cast</h1>
      <div>
        <h2 class="stats-flex-title">Recent Votes:</h2>
        <ul>
          <% @user.votes.last(10).each do |vote| %>
            <li>
              <p>
                <%= vote.upvote ? 'Upvoted' : 'Downvoted' %> <%= vote.evidence.url %>, <br>
                on <%= link_to vote.evidence.fact.body, vote.evidence.fact %>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if current_user == @user %>
      <div class="stats-flex-box users-favorites">
        <h1 class="stats-flex-title">Total of <%= pluralize @user.votes.count, 'vote' %> cast</h1>
        <div>
          <h2 class="stats-flex-title">Recent Votes:</h2>
          <ul>
            <% @user.votes.last(10).each do |vote| %>
              <li>
                <p>
                  <%= vote.upvote ? 'Upvoted' : 'Downvoted' %> <%= vote.evidence.url %>, <br>
                  on <%= link_to vote.evidence.fact.body, vote.evidence.fact %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>

</div>


    <div class="users-favorites">
      <h2>My favorites:</h2>
      <ul>
        <% @user.favorites.each do |fact| %>
            <%= render fact %>
        <% end %>
      </ul>
    </div>
