

  <meta content="Truthometer" property="og:site_name" />
  <meta content="<%= ENV["facebook_APPID"] %>" property="fb:app_id" />

  <title><%= meta_tags[:title] %></title>
  <meta content="<%= meta_tags[:title] %>" property="og:title" />
  <meta content="<%= meta_tags[:title] %>" name="twitter:title" />

  <meta content="website" property="og:type" />

  <meta content="<%= request.base_url + request.path %>" property="og:url" />
  <meta content="<%= request.base_url + request.path %>" name="twitter:url" />

  <meta content="<%= meta_tags[:description] %>" name="description" />
  <meta content="<%= meta_tags[:description] %>" name="og:description" />
  <meta content="<%= meta_tags[:description] %>" name="twitter:description" />


  <% if controller_action == "facts#show" %>
    <link href="<%= @fact ? @fact.photo_url : '' %>" rel="image_src" />
    <meta content="<%= @fact ? @fact.photo_url : '' %>" property="og:image" />
  <% else %>
    <link href="<%= request.base_url + (asset_path "truthometer-logo-large-01.png") %>" rel="image_src" />
    <meta content="<%= request.base_url + (asset_path "truthometer-logo-large-01.png") %>" property="og:image" />
  <% end %>
