<!DOCTYPE html>
<html>
<head>
  <title>FactFirst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'refills/navigation' %>

<div class="flash-notifications">
  <div id="alert"><%= flash[:alert] %>test string for testing ma son</div>
  <div id="notice"><%= flash[:notice] %>test string for testing yo</div>
</div>

<%= yield %>

<%= render 'refills/footer' %>

</body>
</html>
