<!DOCTYPE html>
<html>
<head>
  <title>FactFirst</title>
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.3/normalize.css">
  <!-- Font Awesome icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'refills/navigation' %>

  <%= render 'refills/flashes' %>

  <%= yield %>

  <%= render 'refills/footer' %>

</body>
</html>
