<!DOCTYPE html>
<html>
<head>
  <title>FactFirst</title>
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.3/normalize.css">
  <!-- Font Awesome icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'refills/navigation' %>

<div class="flash-notifications">
  <div id="alert"><%= flash[:alert] %></div>
  <div id="notice"><%= flash[:notice] %></div>
</div>

<%= yield %>

<%= render 'refills/footer' %>

</body>
</html>
