<!DOCTYPE html>
<html>
<head>
  <title>FactFirst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">

  <%= render 'refills/navigation' %>

  <div class="flash-notifications">
    <div id="alert"><%= flash[:alert] %></p>
    <div id="notice"><%= flash[:notice] %></p>
  </div>

  <!--NOTE: Refactor using helpers-->


<%= yield %>

</div>

</body>
</html>
